%body

.sidebar
  .sidebar__user
    .sidebar__user-content yasutada

  .sidebar__group
    .sidebar__group-name sample
    .sidebar__group-message なるほど

.main
  .main__header
    .main__header-name sampleグループ
    .main__header-user Member: yasutada
  %ul.main__message
    %li.main__message-name yasutada
    %li.main__message-time 2019/01/04 06:27:07
    %li.main__message-text なるほど
  .posts
    %form
      %input.posts__text-field{ type: "text",placeholder: "type a message" }
      %button.posts__submit{ type: "submit" } Send
