%body

.sidebar
  .sidebar__user
    .sidebar__user-content yasutada

  .sidebar__groups
    %h1 sample
    %p なるほど

.main
  .main__header
    %h2 sampleグループ
    %p Member: yasutada
  %ul.main__message
    %li.main__message-name yasutada
    %li.main__message-time 2019/01/04 06:27:07
    %li.main__message-text なるほど
  .posts
    %form
      %input.posts__text-field{ type: "text",placeholder: "type a message" }
      %button.posts__submit{ type: "submit" } Send
