html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
  .main__footer {
    height: 90px;
    width: calc(100% - 300px);
    background-color: #dcdcdc;
    position: fixed;
    bottom: 0;

    &-body {
      position: relative;
      height: 90px;
      width: 103%;

      &__textfield {
        height: 50px;
        width: 80%;
        float: left;
        line-height: 50px;
        font-size: 16px;
        background-color: white;
        margin: 20px 15px 20px 40px;
      }

      &__submit {
        height: 55px;
        width: 100px;
        background-color: #00bfff;
        margin: 20px 40px 0 0;
        font-size: 20px;
        color: white;
      }
    }
  }
// .posts {
//   height: 90px;
//   width: calc(100% - 300px);
//   background-color: #dcdcdc;
//   position: fixed;
//   bottom: 0;

//   &__text-field {
//     float: left;
//     line-height: 50px;
//     font-size: 16px;
//     background-color: white;
//     width: 80%;
//     margin: 20px 0 20px 50px;
//     position: relative;
//   }

//   &__submit {
//     height: 55px;
//     width: 100px;
//     background-color: #00bfff;
//     margin: 20px 40px 20px 15px;
//     font-size: 20px;
//     color: white;
//   }
// }

